.logo {
    max-height: 7rem;  /* Increase from default 5rem */
    max-width: 7rem;   /* Increase from default 5rem */
    margin-top: .5rem;  /* Adds 2rem space above the logo */
    margin-bottom: .5rem;  /* Adds 2rem space below the logo */
}

@font-face {
    font-family: 'KyivRegion';
    src: url('/fonts/KyivRegion-Regular.ttf') format('truetype');
    font-display: swap;
}

html[lang="uk"] .main-menu, 
html[lang="uk"] h1, 
html[lang="uk"] h2, 
html[lang="uk"] h3, 
html[lang="uk"] h4, 
html[lang="uk"] h5, 
html[lang="uk"] h6,
html[lang="uk"] .article .font-bold {
    font-family: 'KyivRegion', sans-serif;
}

html[lang="de"] .main-menu,
html[lang="de"] h1, 
html[lang="de"] h2, 
html[lang="de"] h3, 
html[lang="de"] h4, 
html[lang="de"] h5, 
html[lang="de"] h6,
html[lang="de"] .article .font-bold {
    font-family: 'KyivRegion', sans-serif;
}

/* Remove title text near the logo */
nav.flex.space-x-3 a {
    display: none;
}
