.logo {
    max-height: 7rem;  /* Increase from default 5rem */
    max-width: 7rem;   /* Increase from default 5rem */
    margin-top: .5rem;  /* Adds 2rem space above the logo */
    margin-bottom: .5rem;  /* Adds 2rem space below the logo */
}
