{{ $recentArticles := default 3 .Site.Params.homepage.showRecentItems }}
{{ partial "partials/home/page.html" . }}
<div style="margin-bottom: 30px;"></div>

{{ $language := .Site.Language.Lang }}
{{ $projectsSection := dict 
  "de" (dict "title" "PROJEKTE" "button" "Mehr anzeigen" "link" "/de/projects")  
  "uk" (dict "title" "ПРОЄКТИ" "button" "Показати більше" "link" "/projects")
}}
{{ $newsSection := dict 
  "de" (dict "title" "NACHRICHTEN" "button" "Mehr anzeigen" "link" "/de/news")  
  "uk" (dict "title" "НОВИНИ" "button" "Показати більше" "link" "/news")
}}

{{ with index $projectsSection $language }}
  {{ partial "recent-articles-custom.html" (dict "context" $ "folder" "projects" "title" .title "recentArticles" $recentArticles) }}
  <div class="mt-10 flex justify-center">
    <a href="{{ .link }}">
      <button class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">
        {{ .button }}
      </button>
    </a>
  </div>
{{ end }}

<div style="margin-bottom: 30px;"></div>

{{ with index $newsSection $language }}
  {{ partial "recent-articles-custom.html" (dict "context" $ "folder" "news" "title" .title "recentArticles" $recentArticles) }}
  <div class="mt-10 flex justify-center">
    <a href="{{ .link }}">
      <button class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">
        {{ .button }}
      </button>
    </a>
  </div>
{{ end }}